.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    color: #ffca1d;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    color: #ffca1d;
    flex-grow: 1;
  }
  
  .menu-item-heading {
    color: #ffca1d;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    color: #ffca1d;
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }
  
input{
    width: 30px;
}

.footer{
  background:#313131;
  text-align: center;
}

.footer .share{
  padding:1rem 0;
  
}


.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background-color: #ffca1d;
  color:#000000;
  border:var(--border1);
  margin:.3rem;
  border-radius: 50%;
}

.footer .links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
  gap:1rem;
  
}

.footer .links a{
  padding:.7rem 2rem;
  background-color: #ffca1d;
  color:#000000;
  border:var(--border1);
  font-size: 2rem;
  border-radius: 20px;
}



.footer .credit{
  font-size: 2rem;
  color:#fff;
  font-weight: lighter;
  padding:1.5rem;
}

.footer .credit span{
  color:var(--main-color);
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}




.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=butn] {
  width: 25px;
  height: 25px;
  background-color: #E1E8EE;
  border: none;
  cursor: pointer;
}
.minus-butn img {
  margin-top: 1px;
  margin-bottom: 3px;
}
.plus-butn img {
  margin-top: 1px;
  margin-bottom: 3px;
}
.but:focus,
input:focus {
  outline:0;
}